name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Build Web
        run: npm run build
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_PRIMEZ_SPORTZ_2025 }}"
          channelId: live
          projectId: primez-sportz-2025

  build_android:
    runs-on: ubuntu-latest
    needs: build_and_deploy
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java & Android SDK
        uses: android-actions/setup-android@v3
        with:
          api-levels: 34
          target: android-34
          ndk: 26.1.10909125

      - name: Build Android APK
        run: |
          cd android
          chmod +x ./gradlew
          ./gradlew assembleRelease

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: primez-sports-release
          path: android/app/build/outputs/apk/release/app-release.apk
